#  requirements.txt Dosyasını Yükleme ve Kullanma
#  pip install python-docx
#  pip install openpyxl
#  pip install -r requirements.txt

#  rmdir /s /q .venv
#     py -m venv .venv

# Mevcut Bağımlılıkları Kaydetme: Eğer proje ortamınızda zaten yüklenmiş bağımlılıklar varsa, pip freeze ile bunları kaydedebilirsiniz:
# pip freeze > requirements.txt

# Bağımlılık Yönetimi:
# Sanal bir ortam (venv) kullanarak bağımlılıkların sistem genelinden izole olmasını sağlayın.
# python -m venv myenv
# source myenv/bin/activate

# Quiz projesi için sade requirements.txt
# Kurulum:
# python -m pip install --upgrade pip setuptools wheel
# python -m pip install --no-cache-dir --force-reinstall -r requirements.txt


##########################################################################################################

# 2. Temel Geliştirme ve Yardımcı Kütüphaneler
# veri türü zorunluluğu
# beartype>=0.19.0
# başka paketler

# 1. Temel Geliştirme ve Yardımcı Kütüphaneler
# Bu kütüphaneler, Python ile genel geliştirme işlerinde yaygın olarak kullanılır:
# matplotlib==3.7.2      # Grafik ve görselleştirme

# numpy==1.25.0
# pip~=23.2.1
# dataclasses~=0.6
# Django~=3.2
# pycryptodome~=3.21.0

python-docx>=1.2.0
lxml>=5.3.0
openpyxl>=3.1.5